<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="core_rover">
  <xacro:arg name="hardware_mode" default="gazebo"/>
  <xacro:arg name="omit_gz_ros2_control" default="false"/>

  <xacro:include filename="core_rover.urdf"/>

  <xacro:include filename="ros2_control.xacro"/>

  <xacro:core_ros2_control hardware_mode="$(arg hardware_mode)" omit_gz_ros2_control="$(arg omit_gz_ros2_control)"/>

</robot>